<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387738990355-mm838sg277p834ge3kilvv1rk1au1e3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387738990355-mm838sg277p834ge3kilvv1rk1au1e3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387738990355-cdj6ugogg4in547pqfv5u5gv88118717.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1ivuUKr5uLROnpUXDC7JZIk6JTBHk2oU</string>
	<key>GCM_SENDER_ID</key>
	<string>387738990355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leaditteam.arscaner</string>
	<key>PROJECT_ID</key>
	<string>testproject-afd2f</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-afd2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387738990355:ios:9b412784a449cfcd5a4ce6</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-afd2f.firebaseio.com</string>
</dict>
</plist>